@page "/"
@implements IDisposable

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<p><strong>Inner Height</strong> @InnerHeight</p>
<p><strong>Inner Width</strong> @InnerWidth</p>

@functions {        

    int InnerHeight = 0;
    int InnerWidth = 0;

    protected override async Task OnInitAsync()
    {
        BrowserResizeService.OnResize += BrowserHasResized;

        await JSRuntime.Current.InvokeAsync<object>("browserResize.registerResizeCallback");

        InnerHeight = await BrowserResizeService.GetInnerHeight();
        InnerWidth = await BrowserResizeService.GetInnerWidth();
    }

    private async Task BrowserHasResized()
    {
        InnerHeight = await BrowserResizeService.GetInnerHeight();
        InnerWidth = await BrowserResizeService.GetInnerWidth();

        StateHasChanged();
    }

    public void Dispose()
    {
        BrowserResizeService.OnResize -= BrowserHasResized;
    }

}
